<!DOCTYPE html>
<html lang="{{@site.locale}}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{meta_title}}</title>
    <link rel="stylesheet" href="{{asset "built/screen.css"}}">

    {{#is "home"}}
        {{#if @site.cover_image}}
        {{#match @custom.header_section_layout "Large background"}}
            <link rel="preload" as="image" href="{{@site.cover_image}}">
        {{else match @custom.header_section_layout "Side by side"}}
            <link rel="preload" as="image" href="{{img_url @site.cover_image size="m"}}">
        {{/match}}

        {{/if}}
    {{/is}}
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.12.3/tocbot.css">

    <style>
        :root {
            --background-color: {{@custom.background_color}}
        }

        .gh-content {
            position: relative;
        }
        
        .gh-toc > .toc-list {
            position: relative;
        }
        
        .toc-list {
            overflow: hidden;
            list-style: none;
        }
        
        @media (min-width: 1300px) {
            .gh-sidebar {
                position: absolute; 
                top: 0;
                bottom: 0;
                margin-top: 4vmin;
                grid-column: wide-start / main-start; /* Place the TOC to the left of the content */
            }
           
            .gh-toc {
                position: sticky; /* On larger screens, TOC will stay in the same spot on the page */
                top: 4vmin;
            }
        }
        
        .gh-toc .is-active-link::before {
            background-color: var(--ghost-accent-color); /* Defines TOC   accent color based on Accent color set in Ghost Admin */
        }
        
        /* Define text color based on dark mode class */
        .has-light-text {
            color: white; /* Text color for light text */
        }

        .has-dark-text {
            color: var(--color-primary-text); /* Text color for dark text */
        }

        .icon-moon, .icon-sun {
            display: none; /* Hide both icons by default, we'll show one with JS */
            align-items: center; /* Vertically centers content */
            stroke-width: 2.18;
            stroke-linecap: round;
            stroke-linejoin: round;
            width: 24px;
            height: 24px;
            fill: none;
        }
    </style>

    <script>
        /* The script for calculating the color contrast was taken from
        https://gomakethings.com/dynamically-changing-the-text-color-based-on-background-color-contrast-with-vanilla-js/ */
        let accentColor = getComputedStyle(document.documentElement).getPropertyValue('--background-color');
        accentColor = accentColor.trim().slice(1);
        let r = parseInt(accentColor.substr(0, 2), 16);
        let g = parseInt(accentColor.substr(2, 2), 16);
        let b = parseInt(accentColor.substr(4, 2), 16);
        let yiq = ((r * 299) + (g * 587) + (b * 114)) / 1000;
        let textColor = (yiq >= 128) ? 'dark' : 'light';

        document.documentElement.className = `has-${textColor}-text`;
    </script>

    <script>
        let originalBackgroundColor = null;
        let originalAccentColor = null;

        // Function to toggle dark mode and change body background color
        function changeColorTheme(mode = 'switch') {
            if (mode === 'switch') {
                localStorage.setItem('autoDarkMode', false); // disable auto dark mode when user manually toggles theme
                mode = localStorage.getItem('darkMode') === 'true' ? 'light' : 'dark';
            }

            if (mode === 'light') {
                updateIconVisibility(false); // display moon icon, hide sun icon
                document.documentElement.style.setProperty('--background-color', originalBackgroundColor); // Set light background
                localStorage.setItem('darkMode', false);
                setColorBasedOnBackground();
                return;
            } else if (mode === 'dark') {
                updateIconVisibility(true); // display sun icon, hide moon icon
                document.documentElement.style.setProperty('--background-color', 'black'); // Set dark background
                localStorage.setItem('darkMode', true);
                setColorBasedOnBackground();
                return;
            }
        }

        // Function to update icon visibility based on the mode
        function updateIconVisibility(is_currently_dark) {
            const moonIcons = document.querySelectorAll('.icon-moon');
            const sunIcons = document.querySelectorAll('.icon-sun');
            
            if (is_currently_dark) {
                moonIcons.forEach(icon => icon.style.display = 'none');
                sunIcons.forEach(icon => icon.style.display = 'flex');
            } else {
                moonIcons.forEach(icon => icon.style.display = 'flex');
                sunIcons.forEach(icon => icon.style.display = 'none');
            }
        }

        // Function to dynamically set text color based on background color
        function setColorBasedOnBackground() {
            /* Get the current global background color of the site */
            let bgColor = getComputedStyle(document.body).getPropertyValue('background-color') || originalBackgroundColor;

            // Get the current accent color
            let accentColor = getComputedStyle(document.documentElement).getPropertyValue('--ghost-accent-color');
            
            // Convert RGB to hex format for YIQ calculation
            let rgb = bgColor.match(/\d+/g);
            let r = parseInt(rgb[0]);
            let g = parseInt(rgb[1]);
            let b = parseInt(rgb[2]);
            let yiq = ((r * 299) + (g * 587) + (b * 114)) / 1000;
            
            // Determine if text color should be light or dark
            let textColor = (yiq >= 128) ? 'dark' : 'light';
            
            // Apply the determined text color class to the root element
            document.documentElement.className = document.documentElement.className.replace(/has-(light|dark)-text/, ''); // remove existing text color class
            document.documentElement.className = `has-${textColor}-text`;

            if (textColor === 'dark') {
                document.documentElement.style.setProperty('--ghost-accent-color', originalAccentColor);
            } else {
                // contrast adjustment: convert hex accent color to rgb, increase each channel by 30 (capped at 255), and set it as the new accent color
                let accentRgb = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(accentColor);
                r = Math.min(255, parseInt(accentRgb[1], 16) + 30);
                g = Math.min(255, parseInt(accentRgb[2], 16) + 30);
                b = Math.min(255, parseInt(accentRgb[3], 16) + 30);

                document.documentElement.style.setProperty('--ghost-accent-color', `rgb(${r}, ${g}, ${b})`);
            }
        }

        const prefers_dark = window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches;

        // Check and apply dark mode preference from local storage
        function initColorTheme() {
            const previous_dark_state = localStorage.getItem('darkMode');

            // set based on system preference if no previous preference is stored
            if (previous_dark_state === null) {
                if (prefers_dark) {
                    changeColorTheme('dark');
                }
                
                // enable auto dark mode based on system preference
                localStorage.setItem('autoDarkMode', true);
                return;
            }
            
            // restore dark mode if it was previously enabled
            if (previous_dark_state === 'true') {
                changeColorTheme('dark');
            }
            else {
                changeColorTheme('light');
            }
        }

        // Event listener to automatically change theme if system preference changes
        window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', e => {
            if (localStorage.getItem('autoDarkMode') === 'true') {
                const newColorScheme = e.matches ? 'dark' : 'light';
                changeColorTheme(newColorScheme);
            }
        });
    </script>
    
    {{ghost_head}}
</head>

<body class="{{body_class}}{{{block "body_class"}}} is-head-{{#match @custom.navigation_layout "Logo on the left"}}left-logo{{else match @custom.navigation_layout "Logo in the middle"}}middle-logo{{else}}stacked{{/match}}{{#match @custom.typography "Elegant serif"}} has-serif-font{{/match}}{{#match @custom.typography "Consistent mono"}} has-mono-font{{/match}}{{#match @custom.post_feed_layout "Classic"}} has-classic-feed{{/match}}{{#match @custom.post_feed_layout "Typographic"}} has-typographic-feed{{/match}}{{#match @custom.post_feed_layout "Parallax"}} has-parallax-feed{{/match}}">
<div class="gh-site">

    <header id="gh-head" class="gh-head gh-outer">
        <div class="gh-head-inner gh-inner">
            <div class="gh-head-brand">
                <div class="gh-head-brand-wrapper">
                    <a class="gh-head-logo" href="{{@site.url}}">
                        {{#if @site.logo}}
                            <img srcset="{{img_url @site.logo size="s"}} 300w,
                                {{img_url @site.logo size="m"}} 720w"
                                sizes="90vw"
                            src="{{img_url @site.logo size="s"}}" alt="{{@site.title}}"
                            >
                        {{else}}
                            {{@site.title}}
                        {{/if}}
                    </a>
                </div>
                <button class="gh-search gh-icon-btn" aria-label="Toggle theme" onclick="changeColorTheme()">
                    <div class="icon-moon">
                        <svg xmlns="http://www.w3.org/2000/svg" stroke="currentColor" viewBox="0 0 24 24">
                            <path d="M21 12.79A9 9 0 1111.21 3a7 7 0 1010.8 9.79z"></path>
                        </svg>
                    </div>
                    <div class="icon-sun">
                        <svg xmlns="http://www.w3.org/2000/svg" stroke="white" viewBox="0 0 24 24">
                            <circle cx="12" cy="12" r="5"></circle>
                            <line x1="12" y1="1" x2="12" y2="3"></line>
                            <line x1="12" y1="21" x2="12" y2="23"></line>
                            <line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
                            <line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>
                            <line x1="1" y1="12" x2="3" y2="12"></line>
                            <line x1="21" y1="12" x2="23" y2="12"></line>
                            <line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
                            <line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
                        </svg>
                    </div>
                </button>
                <button class="gh-search gh-icon-btn" aria-label="Search this site" data-ghost-search>{{> "icons/search"}}</button>
                {{#if @site.navigation}}
                    <button class="gh-burger" aria-label="Toggle menu"></button>
                {{/if}}
            </div>

            <nav class="gh-head-menu">
                {{navigation}}
                {{#unless @site.members_enabled}}
                    {{#match @custom.navigation_layout "Stacked"}}
                        <button class="gh-search gh-icon-btn" aria-label="Search this site" data-ghost-search>{{> "icons/search"}}</button>
                        <button class="gh-search gh-icon-btn" aria-label="Toggle theme" onclick="changeColorTheme()">
                            <div class="icon-moon">
                                <svg xmlns="http://www.w3.org/2000/svg" stroke="currentColor" viewBox="0 0 24 24">
                                    <path d="M21 12.79A9 9 0 1111.21 3a7 7 0 1010.8 9.79z"></path>
                                </svg>
                            </div>
                            <div class="icon-sun">
                                <svg xmlns="http://www.w3.org/2000/svg" stroke="white" viewBox="0 0 24 24">
                                    <circle cx="12" cy="12" r="5"></circle>
                                    <line x1="12" y1="1" x2="12" y2="3"></line>
                                    <line x1="12" y1="21" x2="12" y2="23"></line>
                                    <line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
                                    <line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>
                                    <line x1="1" y1="12" x2="3" y2="12"></line>
                                    <line x1="21" y1="12" x2="23" y2="12"></line>
                                    <line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
                                    <line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
                                </svg>
                            </div>
                        </button>
                    {{/match}}
                {{/unless}}
            </nav>

            <div class="gh-head-actions">
                <button class="gh-search gh-icon-btn" aria-label="Toggle theme" onclick="changeColorTheme()">
                    <div class="icon-moon">
                        <svg xmlns="http://www.w3.org/2000/svg" stroke="currentColor" viewBox="0 0 24 24">
                            <path d="M21 12.79A9 9 0 1111.21 3a7 7 0 1010.8 9.79z"></path>
                        </svg>
                    </div>
                    <div class="icon-sun">
                        <svg xmlns="http://www.w3.org/2000/svg" stroke="white" viewBox="0 0 24 24">
                            <circle cx="12" cy="12" r="5"></circle>
                            <line x1="12" y1="1" x2="12" y2="3"></line>
                            <line x1="12" y1="21" x2="12" y2="23"></line>
                            <line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
                            <line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>
                            <line x1="1" y1="12" x2="3" y2="12"></line>
                            <line x1="21" y1="12" x2="23" y2="12"></line>
                            <line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
                            <line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
                        </svg>
                    </div>
                </button>
                <button class="gh-search gh-icon-btn" aria-label="Search this site" data-ghost-search>{{> "icons/search"}}</button>
            </div>
        </div>
    </header>

    {{{body}}}

    <footer class="gh-foot gh-outer">
        <div class="gh-foot-inner gh-inner">
            <nav class="gh-foot-menu">
                {{navigation type="secondary"}}
            </nav>

            <div class="gh-copyright">
                {{#unless @custom.footer_text}}
                    {{@site.title}} © {{date format="YYYY"}}. Powered by <a href="https://ghost.org/" target="_blank" rel="noopener">Ghost</a>
                {{else}}
                    {{@custom.footer_text}}
                {{/unless}}
            </div>
        </div>
    </footer>

</div>

{{#is "post, page"}}
    {{> "pswp"}}
{{/is}}

<script src="{{asset "built/main.min.js"}}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.12.3/tocbot.min.js"></script>
{{! Initialize Tocbot after you load the script }}
<script>
    tocbot.init({
        // Where to render the table of contents.
        tocSelector: '.gh-toc',
        // Where to grab the headings to build the table of contents.
        contentSelector: '.gh-content',
        // Which headings to grab inside of the contentSelector element.
        headingSelector: 'h1, h2, h3, h4',
        // Ensure correct positioning
        hasInnerContainers: true,
        collapseDepth: 6,
        orderedList: false,
    });
</script>

<script>
    originalBackgroundColor = getComputedStyle(document.documentElement).getPropertyValue('--background-color');
    originalAccentColor = getComputedStyle(document.documentElement).getPropertyValue('--ghost-accent-color');

    // Initial run to load dark mode preference
    initColorTheme();

    // Right click the theme toggle button to reset to system preference
    document.querySelectorAll('[onclick="changeColorTheme()"]').forEach(button => {
        button.addEventListener('contextmenu', e => {
            e.preventDefault();
            localStorage.removeItem('darkMode'); // remove manual preference to revert to system preference
            localStorage.setItem('autoDarkMode', true); // enable auto dark mode based on system preference
            initColorTheme(); // re-initialize theme based on system preference
        });
    });
</script>

{{ghost_foot}}

</body>

</html>
